body {
  background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v957-nunny-12-kl67yqq4.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b7c8346fd632d5a25cf02de192273122') no-repeat center center / cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Weather-box {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 24px;
  padding: 50px 0;
  margin-bottom: 20px;
}


.button-box {
  width: 100%;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 999px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.button-box .btn {
  margin: 10px
}